@mixin background-img($src) {
   background: url($src);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 @mixin name-section() {
   font-size: 3em;
    //color: $primary-text-color;
    margin-top: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 /*@mixin name-section() {
  font-size: 3em;
   color: $primary-color-text;
   margin-top: 100px;
   margin-bottom: 10px;
   text-transform: uppercase;
   font-weight: 700;
}*/