//COLORS
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #4CAF50;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// SECTIONS
@import "./sections/header";
@import "./sections/about";
@import "./sections/address";
@import "./sections/services";
@import "./sections/reviews";
@import "./sections/portfolio";
@import "./sections/experience";
@import "./sections/blog";
@import "./sections/contacts";
@import "./sections/footer";

@import "./_mixin.scss";
body {
  margin: 0;
  padding: 0;
}
  .btn {
    color: #ffffff;
    border: 2px solid green;
    padding: 1rem;
    background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
    border-radius: 0.5rem;
    font-size: 18px;
    width: 215px;
    height: 65px;
  }
  

