
body {
  margin: 0;
  padding: 0;
}
  .btn {
    color: #ffffff;
    border: 2px solid green;
    padding: 1rem;
    background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
    border-radius: 0.5rem;
    font-size: 18px;
    width: 215px;
    height: 65px;
  }

  /*HEADER*/
  .header {
    background: url(../img/intro.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;  
    @media screen and (max-width: 976px) {      
        height: 100%;      
    }
  &__banner {
    padding-top: 100px;
  }
  &__title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    h1 {
      font-size: 206px;
      background: linear-gradient(90deg, #a21af0 33%, #d310c4 66%, #ff0072);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #a21af0;
      font-weight: 600;
      margin-bottom: -50px;
    }
    h2 {
      font-size: 120px;
    }
    h3 {
      font-size: 47px;
      margin-bottom: -50px;
    }  
    h4 {
      font-size: 25px;
      margin-bottom: 60px;
    }
  }
}
  .navbar {
    background: #15263e;
  }
 @media screen and (max-width: 768px) {
    .header__title {
       h1 {
         font-size: 120px;
         margin-bottom: -20px;
    }
    h2{
       font-size: 60px;
       margin-bottom: 0;
    }
    h3{
       font-size: 30px;
       margin-bottom: -20px;
    }
  }
 }
/*/HEADER*/

/*ABOUT*/
.about {
  height: 595px;  
  h3 {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    padding-top: 135px;
    text-align: right;
    text-transform: uppercase;
  }
  h4 {
    font-size: 20px;
    color: #a21af0;
    margin-bottom: 40px;
    text-align: right;
    text-transform: uppercase;
  }  
  img {
    margin-top: 35px;
  }
  &__text{
    text-align: right;
    font-size: 1rem;
   }
   @media screen and (max-width: 1290px) {    
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: 836px) {      
        h3{
          padding-top: 50px;
        }
      }    
}
.about{
&__progress {
  width: 332px;
  display: flex;
  flex-direction: column;
  padding-top: 155px;
  order: 3;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
  &-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
}
.nanoprogress {
margin-bottom: 44px;
}
.my-class {
height: 10px;
background: #DCDCDE;
border-radius: 5px;
}
.nanoprogress .bar {
width: 332px;
height: 10px;
border-radius: 10px;
background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
}

/*ADDRESS*/
.address {
  width: 100%;
  min-height: 307px;
  padding: 101px 0;
  background-color: #DCDCDE;
  &__img {
    padding-top: 10px;
    width: 88px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__card {
    background-color: #DCDCDE;
    border: none;
  }
@media screen and (max-width: 1600px) {
    height: 100%;
}
}
.card-body p{
  font-size: 18px;
  margin-bottom: -5px;
}
/*/ADDRESS*/

/*SERVICES*/
.services {
  height: 1000px;
  padding-top: 90px;
  h3 {
    font-size: 50px;
  }
  p {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 75px;
  }
  h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
  }
@media screen and (max-width: 1600px) {  
    height: 100%;  
}
}
/*/SERVICES*/

/*TESTIMONIALS*/
.reviews {
  background-image: url("../img/testim-fon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;
  height: 620px;
  h3 {
    margin-top: 135px;
    margin-bottom: 55px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  @media screen and (max-width: 1600px) {
      height: 100%;
      h3{
        margin-top: 80px;
      }
  }
  &__img {
    border-radius: 145px;
  }
  &__text {
    text-align: right;
    color: #ffffff;
    padding-right: 50px;
  }
&__name {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 34px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
  }
  p {
    color: #c714d5;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    text-align: center;
  }
}
}
@media screen and (max-width: 992px) {
  .reviews__describe {
    margin-bottom: 1rem;
  }
}
/*/TESTIMONIALS*/

/*PORTFOLIO*/
.portfolio {
  height: 1510px;
  @media screen and (max-width: 1600px) {
      height: 100%;
  }
  h3 {
    font-size: 50px;
    margin-top: 95px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p{
    font-size: 18px;
    margin-bottom: 75px;
  }
&__menu {
  text-align: left;
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 700;
}
&__menu ul li {
  list-style: none;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 30px;
}
&__menu ul li:hover {
  color: #c714d5;
}
}
.portfolio-item {
  width: 100%;
}
.portfolio-item .item {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.filter-2 img{
  margin-bottom: 30px;  
}
/*/PORTFOLIO*/

/*EXPERIENCE*/
.experience {
  height: 1060px;
  background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
  color: #ffffff;
  @media screen and (max-width: 768px) {
      height: 100%;
  }
  h3 {
    padding-top: 110px;
    margin-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
  }
  h4{
    font-size: 25px;
    font-weight: 700;
  }
&__text {
  font-size: 18px;
  margin-bottom: 110px;
}
&__start__left {
  text-transform: uppercase;
  border-right: 10px solid #ff6347;
  padding-right: 50px;
  text-align: right;
}
&__start__right p {
  margin-bottom: 5rem;
}
&__end__right {
  text-transform: uppercase;
  border-left: 10px solid #ff6347;
  padding-left: 50px;
  text-align: left;
  margin-bottom: 5rem;
}
}

/*BLOG*/
.blog {
  height: 860px;
  h3 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 105px;
    margin-bottom: 35px;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
  }
  h5 {
    font-size: 15px;
    color: #929292;
  }
  p{
    font-size: 18px;
  }
  &__card {
    width: 370px;
    margin-top: 80px;
    margin-bottom: 80px;
}
@media screen and (max-width: 1600px) { 
    height: 100%;  
  &__card {
    width: 100%;
  }
}
}
/*/BLOG*/

/*CONTACT-US*/
.intro {
  height: 770px;
  width: 100%;
  background: url(../img/map.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 60px;
  }
}
.container__form{
  background: #15263e;
  width: 1170px;
  height: 640px;
  margin-top: 70px;
  padding-top: 70px;
  text-align: center;
}
.form__input{
  width: 970px;
  margin: auto;  
  input{
    width: 270px;
    height: 60px;
  }
}
.form__message{
  width: 940px;
  height: 110px;
  margin: auto;
}
@media screen and (max-width: 1600px) {  
  .container__form {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .form__input {
      width: 100%;      
  }
  .form__message{
    width: 570px;
    height: 80px;
  }
}
@media screen and (max-width: 992px) {
  .container__form{
    padding-top: 30px;
  }
  .intro{
h1{
font-size: 40px;
}
p{
margin-bottom: 30px;
}
}
  .form__input {
    input{
margin-bottom: 15px;
    }     
  
}
  }



/*FOOTER*/
footer {
  height: 175px;
  p {
    margin-top: 75px;
  }
}
