/*ADDRESS*/
.address {
   width: 100%;
   min-height: 307px;
   padding: 101px 0;
   background-color: #DCDCDE;
   &__img {
     padding-top: 10px;
     width: 88px;
     border-radius: 50%;
     overflow: hidden;
   }
   &__card {
     background-color: #DCDCDE;
     border: none;
   }
 @media screen and (max-width: 1600px) {
     height: 100%;
 }
 }
 .card-body p{
   font-size: 18px;
   margin-bottom: -5px;
 }
 /*/ADDRESS*/
 