/*BLOG*/
.blog {
   height: 860px;
   h3 {
     @include name-section();
     color: $primary-text-color;
   }
   h4 {
     font-size: 1.5em;
     font-weight: 700;
   }
   h5 {
     font-size: 1.25em;
     color: $secondary-text-color;
     text-transform: uppercase;
     font-weight: 600;
   }
   p{
     font-size: 1.25em;
   }
   &__card {
     width: 370px;
     margin-top: 80px;
     margin-bottom: 80px;
     
 }
 @media screen and (max-width: 1600px) { 
     height: 100%;  
   &__card {
     width: 100%;
   }
 }
 }
 /*/BLOG*/
 