/*CONTACT-US*/
.intro {
  @include background-img('../img/map.jpg');
   height: 770px;
   width: 100%;
   h3 {
    @include name-section();
     color: $primary-color-text;
     margin-top: 10px;
     /*font-size: 3em;
     font-weight: 600;
     text-transform: uppercase;
     margin-bottom: 30px;*/
   }
   p {
     color: $primary-color-text;
     font-size: 1.25em;
     margin-bottom: 60px;
   }
 }
 .container__form{
   background: #15263e;
   width: 1170px;
   height: 640px;
   margin-top: 70px;
   padding-top: 70px;
   text-align: center;
 }
 .form__input{
   width: 970px;
   margin: auto;  
   input{
     height: 60px;
     font-size: 1.5em;
   }
 }
 .textarea__message{
   width: 940px;
   height: 110px;
   font-size: 1.5em;
  margin: auto;
  margin-bottom: 25px;
  padding-left: 10px;
 }
 @media screen and (max-width: 1600px) {  
   .container__form {
     width: 100%;
   }
 }
 @media screen and (max-width: 1200px) {
   .form__input {
       width: 100%;   
   }
   .textarea__message{
     width: 100%;
   }
 }
 @media screen and (max-width: 992px) {
   .container__form{
     padding-top: 30px;
   }
   .intro{
 h1{
 font-size: 2.5em;
 }
 p{
 margin-bottom: 30px;
 }
 }
   .form__input {
     input{
 margin-bottom: 15px;
     }       
 }
   }
 
 