/*EXPERIENCE*/
.experience {
   height: 1060px;
   background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
   color: $primary-color-text;
   @media screen and (max-width: 768px) {
       height: 100%;
   }
   h3 {
    @include name-section(); 
    color: $primary-color-text;
    padding-top: 100px;
   }
   h4{
     font-size: 1.5em;
     color: $primary-color-text;
     font-weight: 700;
   }
 &__text {
   font-size: 1.25em;
   margin-bottom: 110px;
   @media screen and (max-width: 992px) {
    margin-bottom: 3rem;
   }
 }
 &__start__left {
   text-transform: uppercase;
   border-right: 10px solid #fff;
   padding-right: 50px;
   text-align: right;
   
 }
 &__blok{
   margin-bottom: 4rem;
   @media screen and (max-width: 992px) {
    margin-bottom: 2rem;
   }
 }
 &__end__left p{
  font-size: 1.25em;
}
 &__start__right p {
   font-size: 1.25em;
   //margin-bottom: 5rem;
 }
 &__end__right {
   text-transform: uppercase;
   border-left: 10px solid #fff;
   padding-left: 50px;
   text-align: left;
   //margin-bottom: 5rem;
 }
 }
 