/*HEADER*/
.header {
  @include background-img('../img/intro.jpg');
   min-height: 100vh;
   width: 100%;  
   @media screen and (max-width: 976px) {      
       height: 100%;      
   }
 &__banner {
   padding-top: 100px;
 }
 &__title {
   text-align: center;
   color: $primary-color-text;
   text-transform: uppercase;
   font-weight: 700;
   h1 {
     font-size: 15em;
     background: linear-gradient(90deg, #a21af0 33%, #d310c4 66%, #ff0072);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     color: #a21af0;
     font-weight: 700;
     margin-bottom: -50px;
   }
   h2 {
     font-size: 7em;
     color: $primary-color-text;
     font-weight: 700;
   }
   h3 {
    @include name-section();
    color: $primary-color-text;
    margin-top: 60px;
    margin-bottom: -50px;
     /*font-size: 3em;
     margin-bottom: -50px;
     
     font-weight: 700;*/
   }  
   h4 {
     font-size: 1.5em;
     margin-bottom: 60px;
     color: $primary-color-text;
   }
 }
}
 .navbar {
   background: #15263e;
 }
@media screen and (max-width: 768px) {
   .header__title {
      h1 {
        font-size: 10em;
        margin-bottom: -20px;
   }
   h2{
      font-size: 4em;
      margin-bottom: 0;
   }
   h3{
      font-size: 2.5em;
      margin-bottom: -20px;
   }
 }
}

/*/HEADER*/