/*HEADER*/
.header {
  @include background-img('../img/intro.jpg');
   min-height: 100vh;
   width: 100%;  
   @media screen and (max-width: 976px) {      
       height: 100%;      
   }
   &__inner {
    height: 100%;
    min-height: 100px;
    @media (max-width: 992px) {
      min-height: 56px;
    }
    nav {
      height: 100%;
      min-height: 100px;
      @media (max-width: 992px) {
        min-height: 56px;
      }
    }
  }
 &__banner {
   padding-top: 100px;
 }
 &__title {
   text-align: center;
   color: $primary-color-text;
   text-transform: uppercase;
   font-weight: 700;
   h1 {
     font-size: 15em;
     background: linear-gradient(90deg, #a21af0 33%, #d310c4 66%, #ff0072);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     color: #a21af0;
     font-weight: 700;
     margin-bottom: -50px;
   }
   h2 {
     font-size: 7em;
     color: $primary-color-text;
     font-weight: 700;
   }
   h3 {
    @include name-section();
    color: $primary-color-text;
    margin-top: 60px;
    margin-bottom: -50px;
   }  
   h4 {
     font-size: 1.5em;
     margin-bottom: 60px;
     color: $primary-color-text;
   }
 }
}

.nav__menu {
  list-style: none;
  text-align: center;
 li{
  display: inline-block;
  &:after {
    content: "-";
    color: $primary-color-text;
    display: inline-block;
  }
  &:last-child:after {
    content: none;
  }
}
a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  margin: 0 34px 0 0;
  font-size: 17px;
  color: $primary-color-text;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
a.current, a:hover{
  color: #a21af0;
}
}

  @media screen and (max-width: 1210px) {
  .nav__menu a {
    margin: 0 23px 0 0;
  }
  }
  @media screen and (max-width: 992px) {
    .nav__menu a {
      margin: 0 1px 0 0;
    }
    }

@media screen and (max-width: 768px) {
  .nav__menu {
    padding-top: 0; 
    li {
    display: block;
    &:after {
      content: none;
    }
  }  
  a {
    margin: 0 30px;
  }
}
  }

 .navbar {
  width: 100%;
  min-height: 100px;
  font-size: 18px;
  background-color: #15263E;
  @media (max-width: 768px) {
    min-height: 56px;
  }
 }
@media screen and (max-width: 768px) {
   .header__title {
      h1 {
        font-size: 6em;
        margin-bottom: -20px;
   }
   h2{
      font-size: 4em;
      margin-bottom: 0;
   }
   h3{
      font-size: 2.5em;
      margin-bottom: -20px;
   }
 }
}
/*/HEADER*/