/*PORTFOLIO*/
.portfolio {
   height: 1510px;
   @media screen and (max-width: 1600px) {
       height: 100%;
   }
   h3 {
    @include name-section(); 
    color: $primary-text-color;
   }
   p{
     font-size: 1.25em;
     margin-bottom: 75px;
   }
 &__menu {
   text-align: left;
   color: $primary-text-color;
   font-size: 1.5em;
   margin-bottom: 40px;
   font-weight: 700;
 }
 &__menu ul li {
   list-style: none;
   cursor: pointer;
   transition: all 0.5s ease;
   margin-bottom: 30px;
   @media screen and (max-width: 992px) {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
   & a:hover{
     color: #c714d5;
     text-decoration: none;
   }
 }
 }
 .portfolio-item {
   width: 100%;
 }
 .portfolio-item .item {
   width: 100%;
   float: left;
   margin-bottom: 10px;
 }
 .filter-2 img{
   margin-bottom: 30px; 
   @media screen and (max-width: 992px) {
    width: 100%;
}
 }
 /*/PORTFOLIO*/
 