/*TESTIMONIALS*/
.reviews {
   @include background-img('../img/testim-fon.jpg');
   padding-bottom: 3em;
   height: 620px;
   h3 {
    @include name-section();
    color: $primary-color-text;
    text-align: center;
    margin-bottom: 60px;
     /*margin-top: 135px;
     margin-bottom: 55px;
     font-size: 3em;
     
     font-weight: 700;
     text-transform: uppercase;
     text-align: center;*/
   }
   @media screen and (max-width: 1600px) {
       height: 100%;
       h3{
         margin-top: 80px;
       }
   }
   &__img {
     border-radius: 145px;
   }
   &__text {
     text-align: right;
     color: $primary-color-text;
     padding-right: 50px;
     font-size: 1.25em;
   }
 &__name {
   display: flex;
   flex-direction: column;
   h4 {
     font-size: 2.25em;
     color: $primary-color-text;
     font-weight: 600;
     text-transform: uppercase;
     text-align: center;
     padding-top: 20px;
   }
   p {
     color: #c714d5;
     font-size: 1.25em;
     font-weight: 700;
     text-transform: none;
     text-align: center;
   }
 }
 }
 @media screen and (max-width: 992px) {
   .reviews__describe {
     margin-bottom: 1rem;
   }
 }
 /*/TESTIMONIALS*/
 